@{
    ViewBag.Title = "Angular";
}

<link rel="stylesheet" href="~/style/Stylelanguage.css" type="text/css" />
<h1 class="text-center">Angular</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive" src=../images/angular1.bmp alt="">
            <img class="img-responsive" src=../images/angular2.bmp alt="">
        </div>
        <div class="col-sm-6">
            <h3>What is Angular?</h3>
            <p class="main-text">
                Angular n'a pas de notion de "portée" ou de contrôleurs, au lieu de cela il utilise une hiérarchie de composants comme principale caractéristique architecturale4.<br><br>
                Angular a une syntaxe d'expression différente, en se concentrant sur les "[ ]" pour la liaison des propriétés, et de "( )" pour les liaisons des événements5<br><br>
                Modularité – beaucoup de fonctionnalités de base ont été déplacées vers des modules
                Angular recommande l'utilisation du langage TypeScript, créé par Microsoft, qui présente les caractéristiques suivantes:<br><br>
                le principe de classe, à la base de la Programmation Orientée Objet<br>
                le typage statique<br>
                les génériques<br>
                TypeScript est un sur-ensemble d'ECMAScript 6 (ES6), et est rétro-compatible avec ECMAScript 5 (c'est-à-dire: JavaScript). Angular comprend également les principes d'ES6 suivant :<br><br>
                les fonctions anonymes<br>
                les itérateurs<br>
                boucles for-of<br>
                générateurs dans le style du langage Python<br>
                La réflexion<br>
                Le chargement dynamique<br />
                Compilation asynchrone des modèles<br>
                Itératif rappels fournis par RxJS. RxJS limites de l'état de visibilité et de débogage, mais ces problèmes peuvent être résolus avec réactif add-ons comme ngReact ou ngrx.<br><br>
            </p>
            <a href="https://en.wikipedia.org/wiki/Elon_Musk">Learn More</a>
        </div>
    </div>
</div>
