@{
    ViewBag.Title = "C#";
}

<link rel="stylesheet" href="~/style/Stylelanguage.css" type="text/css" />
<h1 class="text-center">C#</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive" src=../images/c1.bmp alt="">
            <img class="img-responsive" src=../images/c2.bmp alt="">
        </div>
        <div class="col-sm-6">
            <h3>What is C#?</h3>
            <p class="main-text">
                C# est un langage de programmation orientée objet, commercialisé par Microsoft depuis 20023 et destiné à développer sur la plateforme Microsoft .NET.

                Il est dérivé du C++ et très proche du Java dont il reprend la syntaxe générale ainsi que les concepts, y ajoutant des notions telles que la surcharge des opérateurs, les indexeurs et les délégués. Il est utilisé notamment pour développer des applications web sur la plateforme ASP.NET. <br><br>C# est un langage de programmation orientée objet, fortement typé, dérivé de C et de C++, ressemblant au langage Java3. Il est utilisé pour développer des applications web, ainsi que des applications de bureau, des services web, des commandes, des widgets ou des bibliothèques de classes3. En C#, une application est un lot de classes où une des classes comporte une méthode Main, comme cela se fait en Java3.

                C# est destiné à développer sur la plateforme .NET, une pile technologique créée par Microsoft pour succéder à COM.

                Les exécutables en C# sont subdivisés en assemblies, en namespaces, en classes et en membres de classe4. Un assembly est la forme compilée, qui peut être un programme (un exécutable) ou une bibliothèque de classes (une dll). Un assembly contient le code exécutable en MSIL, ainsi que les symboles. Le code MSIL est traduit en langage machine au moment de l'exécution par la fonction just-in-time de la plateforme .NET.<br><br>Currently on a mission of reducing the costs of space travel by a factor of 100 and colonization of Mars, Elon Musk is the 21st-century inventor. He’s also been working on  Hyperloop , a high-speed, solar-powered transportation system, capable of transporting from Los Angeles to San Francisco in 30 minutes.<br><br>C# est un langage dérivé du C++, il apporte un typage sûr, ainsi que les possibilités d'encapsulation, d'héritage et de polymorphisme des langages orientés objet3. En C# tous les types sont des objets3. Le langage comporte un ramasse-miettes et un système de gestion d'exceptions3.

                Le typage sûr signifie notamment que les opérations suivantes sont refusées : utilisation de variable non initialisée, tentative d'accéder au-delà des limites d'un tableau, conversions de type dont les résultats ne sont pas prévisibles, dépassement des limites lors d'opérations arithmétiques<br><br>
            </p>
            <a href="https://en.wikipedia.org/wiki/Elon_Musk">Learn More</a>
        </div>
    </div>
</div>
