@{
    ViewBag.Title = "DB";
}

<link rel="stylesheet" href="~/style/Stylelanguage.css" type="text/css" />
<h1 class="text-center">Data bases</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive" src=../images/db1.bmp alt="A young Elon Musk sitting in front of a computer">
            <img class="img-responsive" src=../images/db2.bmp alt="Elon Musk answering a question">
        </div>
        <div class="col-sm-6">
            <h3>What is data bases?</h3>
            <p class="main-text">
                Une base de données (en anglais database), permet de stocker et de retrouver des données brutes ou de l'information, souvent en rapport avec un thème ou une activité ; celles-ci peuvent être de natures différentes et plus ou moins reliées entre elles1,2. Leurs données peuvent être stockées sous une forme très structurées (base de données relationnelles par exemple), ou bien sous la forme de données brutes peu structurées voire déstructurées (base de données NoSQL Redis par exemple). Une base de données peut être localisée dans un même lieu et sur un même support informatisé, ou réparties sur plusieurs machines à plusieurs endroits.

                La base de données est au centre des dispositifs informatiques de collecte, mise en forme, stockage et utilisation d'informations. Le dispositif comporte un système de gestion de base de données (abréviation : SGBD) : un logiciel moteur qui manipule la base de données et dirige l'accès à son contenu. De tels dispositifs comportent également des logiciels applicatifs, et un ensemble de règles relatives à l'accès et l'utilisation des informations2.

                La manipulation de données est une des utilisations les plus courantes des ordinateurs. Les bases de données sont par exemple utilisées dans les secteurs de la finance, des assurances, des écoles, de l'épidémiologie, de l'administration publique (notamment les statistiques) et des médias.

                Lorsque plusieurs objets nommés « bases de données » sont constitués sous forme de collection, on parle alors d'une banque de données. <br /><br />
                Une base de données est un « conteneur » stockant des données2 telles que des chiffres, des dates ou des mots, pouvant être retraités par des moyens informatiques pour produire une information ; par exemple, des chiffres et des noms assemblés et triés pour former un annuaire. Les retraitements sont typiquement une combinaison d'opérations de recherches, de choix, de tri, de regroupement, et de concaténation3.

                C'est la pièce centrale d'un système d'information ou d'un système de base de données (ou base de données tout court), qui régit la collecte, le stockage, le retraitement et l'utilisation de données. Ce dispositif comporte souvent un logiciel moteur (cf. paragraphe suivant), des logiciels applicatifs, et un ensemble de règles relatives à l'accès et l'utilisation des informations<br><br>
            </p>
            <a href="https://en.wikipedia.org/wiki/Elon_Musk">Learn More</a>
        </div>
    </div>
</div>

