
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/style/Styleindex.css" type="text/css" />
<div id="divi">
    <h1>< <span class="blink">_</span> /></h1>
</div>
<br />
<br />

<div id="para">
    <div><h1><strong>Welcome to my learning website</strong></h1></div>

    <div><h1><u>Sign up</u> and <u> login </u>to be a great developper !</h1></div>
</div>

<br />
<br />




<!-- Footer -->
<footer id="foot" class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="https://localhost:44393/Second/Index"> Learning_dendane.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
