@{
    ViewBag.Title = "Java";
}
    <link rel="stylesheet" href="~/style/Stylelanguage.css" type="text/css" />
<h1 class="text-center">Java</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive" src=../images/java1.bmp alt="A young Elon Musk sitting in front of a computer">
            <img class="img-responsive" src=../images/java2.bmp alt="Elon Musk answering a question">
        </div>
        <div class="col-sm-6">
            <h3>What is Java?</h3>
            <p class="main-text">Le langage Java reprend en grande partie la syntaxe du langage C++. Néanmoins, Java a été épuré des concepts les plus subtils du C++ et à la fois les plus déroutants, tels que les pointeurs et références, ou l’héritage multiple contourné par l’implémentation des interfaces. De même, depuis la version 8, l'arrivée des interfaces fonctionnelles introduit l'héritage multiple (sans la gestion des attributs) avec ses avantages et inconvénients tels que l'héritage en diamant. Les concepteurs ont privilégié l’approche orientée objet de sorte qu’en Java, tout est objet à l’exception des types primitifs (nombres entiers, nombres à virgule flottante, etc.) qui ont cependant leurs variantes qui héritent de l'objet Object (Integer, Float, ...).<br><br>Java permet de développer des applications client-serveur. Côté client, les applets sont à l’origine de la notoriété du langage. C’est surtout côté serveur que Java s’est imposé dans le milieu de l’entreprise grâce aux servlets, le pendant serveur des applets, et plus récemment les JSP (JavaServer Pages) qui peuvent se substituer à PHP, ASP et ASP.NET. <br><br></p>
            <a href="https://en.wikipedia.org/wiki/Elon_Musk">Learn More</a>
        </div>
    </div>
</div>