@{
    ViewBag.Title = "NodeJs";
}

<link rel="stylesheet" href="~/style/Stylelanguage.css" type="text/css" />
<h1 class="text-center">NodeJs</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive" src=../images/node1.bmp alt="">
            <img class="img-responsive" src=../images/node2.bmp alt="">
        </div>
        <div class="col-sm-6">
            <h3>What is NodeJs?</h3>
            <p class="main-text">
                Node.js est une plateforme logicielle libre en JavaScript orientée vers les applications réseau événementielles hautement concurrentes qui doivent pouvoir monter en charge.

                Elle utilise la machine virtuelle V8, la librairie libuv pour sa boucle d'évènements, et implémente sous licence MIT les spécifications CommonJS.

                Parmi les modules natifs de Node.js, on retrouve http qui permet le développement de serveur HTTP. Il est donc possible de se passer de serveurs web tels que Nginx ou Apache lors du déploiement de sites et d'applications web développés avec Node.js.

                Concrètement, Node.js est un environnement bas niveau permettant l’exécution de JavaScript côté serveur.<br><br>Node.js a été créé par Ryan Dahl en 2009. Son développement et sa maintenance sont effectués par l'entreprise Joyent (en)13. Dahl a eu l'idée de créer Node.js après avoir observé la barre de progression d'un chargement de fichier sous Flickr : le navigateur ne savait pas quel pourcentage du fichier était chargé et devait adresser une requête au serveur web. Dahl voulait développer une méthode plus simple14. Le serveur web Mongrel de Ruby a été l'autre source d'inspiration pour Dahl15. Dahl avait échoué dans plusieurs projets en C, Lua et Haskell, mais, quand le moteur V8 fut diffusé, il commença à s'intéresser à JavaScript16. Même si son idée d'origine était d'utiliser des entrées et sorties non bloquantes, il en reviendra un peu dans son module système car cela provoquait des problèmes de chargement de bibliothèques externes17.

                Node.js est utilisé au cœur du système d'exploitation Palm webOS.<br><br>Depuis janvier 2017, la fondation Node.js a pour projet de créer une certification professionnelle, la NCD24 (Nodejs Certified Developer). Cette certification est proposée en partenariat avec la Fondation Linux et est actuellement disponible en accès anticipé.<br><br>
            </p>
            <a href="https://en.wikipedia.org/wiki/Elon_Musk">Learn More</a>
        </div>
    </div>
</div>
