@{
    ViewBag.Title = "Php";
}

<link rel="stylesheet" href="~/style/Stylelanguage.css" type="text/css" />
<h1 class="text-center">Php</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive" src=../images/php1.bmp alt="A young Elon Musk sitting in front of a computer">
            <img class="img-responsive" src=../images/php2.bmp alt="Elon Musk answering a question">
        </div>
        <div class="col-sm-6">
            <h3>What is Php?</h3>
            <p class="main-text">
                PHP est un langage de script utilisé le plus souvent côté serveur : dans cette architecture, le serveur interprète le code PHP des pages web demandées et génère du code (HTML, XHTML, CSS par exemple) et des données (JPEG, GIF, PNG par exemple) pouvant être interprétés et rendus par un Navigateur web. PHP peut également générer d'autres formats comme le WML, le SVG et le PDF.
                <br /><br />
                Il a été conçu pour permettre la création d'applications dynamiques, le plus souvent développées pour le Web. PHP est le plus souvent couplé à un serveur Apache bien qu'il puisse être installé sur la plupart des serveurs HTTP tels que IIS ou nginx. Ce couplage permet de récupérer des informations issues d'une base de données, d'un système de fichiers (contenu de fichiers et de l'arborescence) ou plus simplement des données envoyées par le navigateur afin d'être interprétées ou stockées pour une utilisation ultérieure.
                <br /><br />
                C'est un langage peu typé et souple et donc facile à apprendre par un débutant mais, de ce fait, des failles de sécurité peuvent rapidement apparaître dans les applications. Pragmatique, PHP ne s'encombre pas de théorie et a tendance à choisir le chemin le plus direct. Néanmoins, le nom des fonctions (ainsi que le passage des arguments) ne respecte pas toujours une logique uniforme, ce qui peut être préjudiciable à l'apprentissage.
            </p>
            <a href="https://en.wikipedia.org/wiki/Elon_Musk">Learn More</a>
        </div>
    </div>
</div>
