
@{
    ViewBag.Title = "Learning";
}
<link rel="stylesheet" href="~/style/Stylepage.css" type="text/css" />
<h1><span>Programmation</span> Languages learning</h1>

<!-- Flex Container -->
<div id="container">

    <a id="button-1" class="button" href="https://localhost:44393/Second/java">Java!<img id="arrow-hover" src="https://github.com/atloomer/atloomer.github.io/blob/master/img/iconmonstr-paper-plane-1-120.png?raw=true" /></a>

    <div class="button" id="button-2">
        <div id="slide"></div>
        <a href="https://localhost:44393/Second/python">Python!</a>
    </div>

    <div class="button" id="button-3">
        <div id="circle"></div>
        <a href="https://localhost:44393/Second/C_sharp">C#!</a>
    </div>

    <div class="button" id="button-4">
        <div id="underline"></div>
        <a href="https://localhost:44393/Second/Nodejs">NodeJs!</a>
    </div>

    <div class="button" id="button-5">
        <div id="translate"></div>
        <a href="https://localhost:44393/Second/Php">Php!</a>
    </div>

    <div class="button" id="button-6">
        <div id="spin"></div>
        <a href="https://localhost:44393/Second/Angular">Angular!</a>
    </div>

    <div class="button" id="button-2">
        <div id="slide"><img src="https://github.com/atloomer/atloomer.github.io/blob/master/img/iconmonstr-arrow-48-240.png?raw=true" alt="" /></div>
        <a href="https://localhost:44393/Second/DB">Data bases!</a>
    </div>


    <!-- End Container -->
</div>